<div class ="container">
  <table class="table">
    <tr><h3 class="text-primary bg-gray">Candidates</h3></tr>
    <% if @user.candidates.size > 0 %>
      <% @user.candidates.each do |candidate| %>
        <tr>
          <td><%=link_to candidate.name, [candidate.section, candidate] %></td>
          <td><%= candidate.section.section_name %></td>
          <td><%= link_to "View appointment", section_candidate_appointment_path(candidate.section,candidate), class:"btn btn-sm btn-info"%></td>
          <% unless current_user.admin? %>
            <td><%= link_to "View payments", section_candidate_payments_path(candidate.section,candidate), class:"btn btn-sm btn-info" %></td>
          <% end %>
          <td><%= link_to "Edit candidate", edit_section_candidate_path(candidate.section, candidate), class:"btn btn-sm btn-info"%></td>
          <% if current_user.admin? %>
            <td><%= link_to 'Destroy candidate', [candidate.section, candidate], method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-info btn-sm text-danger' %></td>
          <% end %>
        </tr>
        </tr>
      <% end %>
    <% else %>
      <h4>You have not added any candidates</h4>
    <% end %>
  </table>
  <%= link_to "Add new candidate", candidates_select_path, class:"btn btn-primary" %>
  <%= link_to "View Admission status", candidates_index_path, class:"btn btn-primary" %>
</div>
