<div class="container">
  <h2 class="text-center bg-info"><%= @section.section_name %></h2>
  <br>
  <% if @candidates.size > 0 %>
    <h3 class="bg-gray text-primary">Candidates</h3>
    <table class="table">
      <tr>
        <th>Candidate Name</th>
        <th>Father's Name</th>
      </tr>
      <% @candidates.each do |candidate| %>
        <tr>
          <td><%= candidate.name %></td>
          <td><%= candidate.father_name %></td>
          <td><%= link_to("Show candidate", section_candidate_path(@section.id,candidate), class:'btn btn-info btn-sm')%></td>
          <td><%= link_to("Edit candidate", edit_section_candidate_path(@section.id,candidate), class:'btn btn-info btn-sm')%></td>
          <% if current_user.admin? %>
            <td><%= link_to 'Destroy candidate', [candidate.section, candidate], method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-info btn-sm' %></td>
          <% end %>
        </tr>
      <% end %>
    </table>
  <% else %>
    <h4 class="bg-gray">No candidates present under this section </h4>
  <% end %>
</div>
