<div class="container">

  <% if @candidate.appointment.present? %>
    <% if @candidate.errors.size > 0 %>
      <%= error_messages_for(@candidate) %>
      <%
        @grades = ['Not Applicable', 'Kindergarten', '1st', '2nd', '3rd', '4th', '5th', '6th', '7th', '8th', '9th', '10th', '11th', '12th']
        @index = @grades.index("#{@candidate.education}")
        @grade = @grades[@index+1]
      %>
      <h2 class="bg-info text-center">Manage Candidate Admission</h2>
      <%= form_for @candidate, url: section_candidate_path do |f| %>
        <table class="table">
          <tr class="admission-status">
            <th><%= f.label(:admission_status, "Admission Status") %></th>
            <td><%= f.select(:admission_status, ['Selected', 'Rejected']) %></td>
          </tr>
          <tr class="rejection-reason">
            <th><%= f.label(:rejection_reason)%></th>
            <td><%= f.text_area :rejection_reason, size: "40x3" %></td>
          </tr>
          <tr class="grade">
            <th><%= f.label(:grade, "Admission in grade")%></th>
            <td><%= f.select :grade, ['', @grade] %></td>
          </tr>
        </table>
        <div class="text-center">
        <%= f.submit "Manage Candidate Admission" ,class:"btn btn-info" %>
        </div>
      <% end %>
    <% else %>
      <%
        @grades = ['Not Applicable', 'Kindergarten', '1st', '2nd', '3rd', '4th', '5th', '6th', '7th', '8th', '9th', '10th', '11th', '12th']
        @index = @grades.index("#{@candidate.education}")
        @grade = @grades[@index+1]
      %>
      <% if @candidate.admission_status == "Selected" %>
        <h2 class="bg-info text-center">Manage Candidate Admission</h2>
        <h4 class="bg-gray">Candidate is already selected for admission.</h4>
      <% elsif @candidate.admission_status == "Rejected" %>
        <h2 class="bg-info text-center">Manage Candidate Admission</h2>
        <h4 class="bg-gray">Candidate is already rejected.</h4>
      <% elsif @candidate.appointment.datetime > Time.now %>
        <h2 class="bg-info text-center">Manage Candidate Admission</h2>
        <h4 class="bg-gray">Appointment is scheduled for the candidate. You can manage candidate's admission once the appointment is over. </h4>
      <% else %>
        <h2 class="bg-info text-center">Manage Candidate Admission</h2>
        <%= form_for @candidate, url: section_candidate_path do |f| %>
          <table class="table">
            <tr class="admission-status">
              <th><%= f.label(:admission_status, "Admission Status") %></th>
              <td><%= f.select(:admission_status, ['Selected', 'Rejected']) %></td>
            </tr>
            <tr class="rejection-reason">
              <th><%= f.label(:rejection_reason)%></th>
              <td><%= f.text_area :rejection_reason, size: "40x3" %></td>
            </tr>
            <tr class="grade">
              <th><%= f.label(:grade, "Admission in grade")%></th>
              <td><%= f.select :grade, ['', @grade] %></td>
            </tr>
          </table>
          <div class="text-center">
          <%= f.submit "Manage Candidate Admission" ,class:"btn btn-info" %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  <% else %>
    <% if @candidate.errors.size > 0 %>
      <%= error_messages_for(@candidate) %>
      <br>
      <% if @candidate.marksheet.present? %>
        <table class="table">
          <tr>
            <th class="text-center">Candidate's Marksheet</th>
          </tr>
          <tr>
            <td class="text-center"><%= image_tag @candidate.marksheet.url(:ex_large) %></td>
          </tr>
        </table>
      <% end %>
      <h2 class="text-center bg-info">Manage Candidate's Application</h2>
      <br>
      <%= form_for @candidate, url: section_candidate_path do |f| %>
        <table class="table">
          <tr class="application-status">
            <th><%= f.label(:admission_status, "Application Status") %></th>
            <td><%= f.select :admission_status,options_for_select(['Accepted', 'Rejected'])%></td>
          </tr>
          <tr class="rejection">
            <th><%= f.label(:rejection_reason )%></th>
            <td><%= f.text_area :rejection_reason, size: "40x3" %></td>
          </tr>
        </table>
        <div class="text-center save">
        <%= f.submit "Save and Schedule appointment", class:"btn btn-info" %>
        </div>
        <div class="text-center reject">
        <%= f.submit "Reject Candidate", class:"btn btn-info" %>
        </div>
      <% end %>
    <% else %>
      <% if @candidate.admission_status == "Rejected" %>
        <h2 class="bg-info text-center">Manage Candidate Admission</h2>
        <h4 class="bg-gray">Candidate is already rejected.</h4>
      <% end %>
      <%= error_messages_for(@candidate) %>
      <br>
      <% if @candidate.marksheet.present? %>
        <table class="table">
          <tr>
            <th class="text-center">Candidate's Marksheet</th>
          </tr>
          <tr>
            <td class="text-center"><%= image_tag @candidate.marksheet.url(:ex_large) %></td>
          </tr>
        </table>
      <% end %>
      <h2 class="text-center bg-info">Manage Candidate's Application</h2>
      <br>
      <%= form_for @candidate, url: section_candidate_path do |f| %>
        <table class="table">
          <tr class="application-status">
            <th><%= f.label(:admission_status, "Application Status") %></th>
            <td><%= f.select :admission_status,options_for_select(['Accepted', 'Rejected'])%></td>
          </tr>
          <tr class="rejection">
            <th><%= f.label(:rejection_reason )%></th>
            <td><%= f.text_area :rejection_reason, size: "40x3" %></td>
          </tr>
        </table>
        <div class="text-center save">
        <%= f.submit "Save and Schedule appointment", class:"btn btn-info" %>
        </div>
        <div class="text-center reject">
        <%= f.submit "Reject Candidate", class:"btn btn-info" %>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>
